h1 {
  font-size: 32px;
  text-align: center;
}
.introduction {
  border-bottom: 1px solid #dde3e6;
  padding: 30px;
  overflow: hidden;
  background-color: #f5f7f8;
  background-image: linear-gradient(270deg,#2bc0ec,#1b81d7);
  color: #fff;
}
