<h2 class="ui-widget">Add a new article</h2>
<div class="input">
  <input id="titleBox" [(ngModel)]="article.title" type="text" pInputText placeholder="Give your article a title" />
  <textarea id="contentBox" [rows]="5" [cols]="30" [(ngModel)]="article.content" pInputTextarea autoResize="autoResize" placeholder="Paste your content here (as HTML)"></textarea>
  <button id="saveButton" pButton type="button" (click)="saveArticle()" icon="fa-check" iconPos="right" label="Save"></button>
</div>
