h2 {
  text-align: center;
}

.input {
  padding: 0.5em;
  height: inherit;
  width: inherit;
  display: block;
  margin-left: 100px;
}

#titleBox {
  width: 60%;
  height: 20%;
  font-size: 30px;
}

#contentBox {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
  height: 100%;
  font-size: 18px;
}

#saveButton {
  position: sticky;
}
