<div id="searchInput">
<h3 class="ui-widget">
 What are you looking for?
</h3>
  <input #searchBox id="searchBox" type="text" (keyup)="search(searchBox.value)" pInputText placeholder="Enter a search term" />
    <div *ngFor="let article of articles | async"
         (click)="goToArticle(article._id)" class="searchResult" >
      {{article.title}}
    </div>
</div>
